* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: 620px;
    border: 5px double #000;
}

.entrada {
    margin: auto;
    margin-top: 7px;
    width: 380px;
    height: 185px;
    border: 1px solid #000;
}

.processamento {
    margin: auto;
    margin-top: 7px;
    width: 380px;
    height: 180px;
    border: 1px solid #000;
}

.saida {
    margin: auto;
    margin-top: 7px;
    width: 380px;
    height: 220px;
    border: 1px solid #000;
}

/* Configurações da .entrada */
h2{
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.config {
    margin: auto;
    width: 320px;
    height: 60px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

.escolha {
    display: none;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none;
}

.jokenpo {
    margin: auto;
    width: 190px;
    height: 60px;
    display: none;
}

/* Configurações da .config */
.player {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.player p {
    font-weight: bold;
    width: 150px;
}

.player input {
    width: 150px;
    height: 20px;
}

.opcao {
    margin-top: 5px;
    display: flex;
}

.opcao p {
    font-weight: bold;
    width: 150px;
}

.opcao #melhorDe {
    margin-left: 16px;
    width: 100px;
    height: 22px;
}

/* Configurações da .jokenpo */
.jo, .ken, .po {
    width: 60px;
    height: 60px;
    margin-right: 3px;
    margin-top: 3px;
    border: 1px solid #000;
}

.jo img, .ken img, .po img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.jo img:hover, .ken img:hover, .po img:hover {
    scale: 1.1;
}

/* Configurações da .processamento */
.batalha {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.res {
    margin: auto;
    margin-top: -10px;
    padding: 5px 0px;
    width: 300px;
    height: 25px;
    /*display: none;*/
    font-size: 18px;
    font-weight: bold;
    color: red;
    display: flex;
    justify-content:space-evenly
}

/* Configurações da .batalha */
.escolhaP1, .escolhaCom {
    width: 100px;
    height: 100px;
}

.escolhaP1 img, .escolhaCom img {
    width: 100px;
    height: 100px;
}

.versus {
    width: 50px;
    height: 50px;
}

.versus img {
    width: 50px;
    height: 50px;
}

/* Configurações da .saida */
.placarFinal {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 100px;
}

.btnNovoJogo {
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}

/* Configurações da .placarFinal */
.placar {
    margin: auto;
    padding: 2px 0px;
    width: 198px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.resultado {
    margin: auto;
    margin-top: 5px;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content:space-evenly;
}

.resultado .p1, .resultado .com {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.p1Res, .comRes {
    margin-top: 5px;
    color: red;
    font-size: 1.5rem;
}

.vencedorFinal {
    margin-top: 5px;
    color: red;
    font-size: 1rem;
    text-align: center;
}

#novoJogo {
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    display: none;
}

#novoJogo:hover {
    background-color: #616161;
    color: #000;
}

#proximoJogo {
    display: none;
}